* text=auto

*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
LinkPadStudioApp/src-tauri/gen/schemas/*.json text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.bin binary
*.exe binary
